body {
    background-color: #111111
}

h1 {
    color: #E2E80F;
    text-align: center;
    font-size: 2.5em;
}

p {
    color: #eeeeee;
    font-size: 1.2em;
    line-height: 1.5em;
}

.credits {
    color:cyan;
    text-decoration: underline;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;}

.credits:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

#film-description {
    font-size: .8em;
    font-style: italic;
