

body {
    font-family: serif;
    font-size: 1.2em;
    max-width: 700px;
    margin: auto;
    left: 0;
    right: 0
}

main {
    display: flex;
}

h1 {
    font-family: sans-serif;
}

h2 {
    text-align: center;
    font-family: sans-serif;
}

header {
    text-align: center;
}
nav {
    width: 30%;
    display: inline-block;
    position: static;
    border-right: 0px solid black;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid black;
    margin: 0px;
    border-bottom: 0px;
    
}

article {
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid black;
}

#moReeder {
    max-width: 100%;
    object-position;
    margin: auto;
    left: 0;
    right: 0;
}

section {
    width: 70%;
    display: inline-block;
    padding-right: 10px;
    border: 1px solid black;
    margin: 0px;
    padding-left: 10px;
    border-left: 0px;
    border-bottom: 0px;
}

#imageTwo {
    width: 85%;
    height: 25%;
    margin: auto;
    left: 0;
    right: 0;
    display: block
    
}

img.center{
    
}

#date {
    text-align: right;
}