<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Yoda Speak</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

</head>
<body ng-controller="mainController">
    
    <h1>Yoda Speak</h1
        <br>
        <input type="text" ng-model="inputSentence" placeholder="Type your sentence here"><button type="button" class="btn btn-default" ng-click="buttonClicked()"> Translate</button>
        <br>
        <br>
        
        {{output}}
    
    <script src="app.js"></script>
</body>
</html>