<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Weather API</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">


</head>

<body ng-controller="mainController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 border">
                <div class="row">
                    <div class="col-xs-12 nav">
                        <div class="col-xs-5 col-xs-offset-1">
                            <input type="text" ng-model="locationLookup" style="color:black; width: 200px; display: inline-block;" placeholder="Enter Zip or Address" class="form-control">
                            <button ng-click="lookupLocation(locationLookup)" class="btn btn-primary" style="margin-bottom: 4px;">Submit</button>
                        </div>
                        <div class="col-xs-4 text-right" style="font-size:2em;">
                            About
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center" style="margin-top: 45px;">
                        <h1> {{currentTime | date: 'longDate' }}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-3 mainSummary text-center">
                        <h2>Today:</h2>
                        <p>{{output.summary}}</p>
                        <p>Temperature: {{output.temperature}}ºF</p>
                        <p>Chance of rain: {{output.precipProbability*100}}%</p>
                        <p>{{output.icon}}</p>
                        <p><canvas ng-attr-id="{{output.icon}}" width="64" height="64"></canvas></p>
                        <p><canvas id="partly-cloudy-day" width="64" height="64"></canvas></p>
                    </div>
                    <div class="col-xs-2 mainSummary text-center">
                        <img src="images/snowy.png" class="img-responsive main" style="display: inline-block">
                    </div>
                </div>
                <div class="row text-center">
                    <h3>Hourly:</h3>
                    <div class="col-xs-2 text-center hourlySummary" ng-repeat="each in hourly | limitTo:quantity">
                        <h4 style="border-bottom: 1px solid white;">{{each.time*1000 | date: 'h:mm:a'}}</h4>
                        <p>{{each.summary}}
                            <br>{{each.temperature}}ºF
                            <br> Chance of rain: {{each.precipProbability*100}}%</p>


                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2>Forecast:</h2>
                        <h4> {{forecast.summary}} </h4>
                        <div class="row">
                            <div class="col-xs-2 text-center" ng-repeat="daily in forecast.data | limitTo:quantity+1" ng-if="$index > 0" style="margin-bottom: 50px;">
                                <h4>{{ daily.time*1000 | date: 'EEEE' }}</h4> High / Low
                                <br> {{daily.temperatureMax}}ºF / {{daily.temperatureMin}}ºF
                                <br> Chance of Rain: {{daily.precipProbability*100}}%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="https://rawgithub.com/darkskyapp/skycons/master/skycons.js"></script>
    <script src="app.js"></script>
    <script src="services/httpservice.js"></script>
</body>

</html>