<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <div ng-show="submitForm" class="center-block">
                        <div class="row">
                            <div class="col-xs-4 center-block">
                                <input type="text" ng-model="pony.name" class="form-control center-block"
                                       style="width: 300px;">
                            </div>
                            <div class="col-xs-4">
                                <input type="text" ng-model="pony.imgUrl" class="form-control center-block"
                                       style="width: 300px;">
                            </div>
                            <div class="col-xs-4">
                                <input type="text" ng-model="pony.username" class="form-control center-block"
                                       style="width: 300px;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <button type="button" class="btn btn-success" ng-click="newPony(pony)" style="margin-top: 25px">Submit</button>
                            </div>
                        </div>
                    </div>


                    <div ng-hide="submitForm">
                        <button type="button" class="btn btn-primary center-block" style="margin-bottom: 25px;"
                                ng-click="submitForm = !submitForm">Submit New Pony
                        </button>
                        <div class="col-xs-3" ng-repeat="pony in ponies track by $index">
                            {{pony.name}}<br>
                            <img src="{{pony.imgUrl}}" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>