<div class="row love spacing-top">
    <div class="col-xs-4">
        <img src="components/whyilove/iamges/download.jpeg">
</div>
    <div class="col-xs-4">
        <img src="components/whyilove/iamges/images.jpeg">
</div>
    <div class="col-xs-4">
        <img src="components/whyilove/iamges/Nevada-74158.jpg">
</div>
</div>
<div class="row love spacing-top">
    <div class="col-xs-4">
        <img src="components/whyilove/iamges/nevada-county-regionpage-1.jpg">
    </div>
    <div class="col-xs-4">
        <img src="components/whyilove/iamges/nevada-horse-cowboy-990_17632_600x450.jpg">
    </div>
    <div class="col-xs-4">
        <img src="components/whyilove/iamges/nevada-reno-1.jpg">
    </div>
</div>
