.customNav {
    background-color: rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(225, 225, 225, 0.5);
    z-index: 1000;
    position: fixed;
    display: block;
    width: 100%;
}

.customNav li:hover {
    background-color: #3498DB;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

#headerPadding {
    padding-left: 0px;
    padding-right: 0px;
}

header {
    margin-top: 50px;
}

#follow {
    position: relative;
    left: 50%;
    top: 65px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-family: bnl;
    font-size: 1.75em;
    transform: translate(-50%);
    display: inline-block;
}

.social-media {
    border: 1px solid lightgrey;
    text-align: center;
    margin-top: 50px;
}

.skillContainerOne {
    max-width: 200px;
    max-height: 200px;
    display: inline-block;
}

.pointer {
    cursor: move;
    cursor: pointer;
    cursor: -moz-pointer;
    cursor: -webkit-pointer;
}

.line {
    width: 400px;
    border-top: 1px solid lightgrey;
    margin: auto;
    left: 0;
    right: 0;
}

.spacingTop {
    margin-top: 50px;
}

.spacingBottom {
    margin-bottom: 50px;
}

.skillImage {
    max-height: 100px;
    max-width: 300px;
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
}

.center {
    display: table;
    margin: auto;
}