<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body ng-controller="mainController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="row" style="padding-top: 50px; padding-bottom: 50px; background-color: lightblue;">
                    <div class="col-xs-4">
                        <input type="text" placeholder="Title" ng-model="title" class="form-control">
                    </div>
                    <div class="col-xs-4">
                        <input type="text" placeholder="Description" ng-model="description" class="form-control">
                    </div>
                    <div class="col-xs-4">
                        <input type="text" placeholder="Image URL" ng-model="image" class="form-control">
                    </div>
                    <div class="col-xs-12 text-center" style="padding-top: 25px;">
                        <button class="btn btn-primary" ng-click="submitClicked">Submit</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 center-block text-center" ng-repeat="">
                    <h2>{{name}}</h2>
                    <img src="{{image}}" class="img-responsive" style="width:200px; height: 300px;">
                    <p>{{description}}</p>
                </div>
            </div>
        </div>
    </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>