* {
    box-sizing: border-box;
    
}
html {
    background-image:url(bg4.jpg);
    background-size:cover;
}

body {
    max-width: 750px;
    margin: auto;
    left: 0;
    right: 0;
    font-size: 2em;
}

main {
    margin: auto;
    left: 0;
    right: 0;
}

header {
    text-align: center;
    padding-bottom: 10px;
    padding-top; 10px;
    margin-top: 20px;
    background-color: #ec3b2e;
    color: white;
}

h1 {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 2em;
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

div {
    text-align: center;
}


input {
    margin: auto;
    right: 0;
    left: 0;
    display: block;
}

article {
    background-color: #ec3b2e;
    padding-top: 10px;
}

input[type=text] {
    width: 100px;
    height: auto;
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
    
}

input[type=button] {
    font-size: 30px;
  
}

.coinNumber {
    font-size: 50px;
    margin-bottom: 10px;
}

#button {
    margin: auto;
    left: 0;
    right: 0;
    display:block;
}

#section1 {
    width: 250px;
    display: inline-block;
    border: 1px solid black;
    border-left: 0px;
    background-color: #40b34f;
    
}

#section2 {
    width: 250px;
    display: inline-block;
    border: 1px solid black;
    border-left: 0px;
    border-right; 0px;
    background-color: #fed330;
}

#section3 {
    width: 250px;
    display: inline-block;
    border: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    background-color: #1daee4;
}

img {
    max-height: 195px;
    min-width: 200px;
    margin: auto;
    left: 0;
    right: 0;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
}

#logo {
    max-height: 50px;
    max-width: auto;
    display: inline-block;
    margin: 0px;
    vertical-align: middle;
}